<div ng-controller="MatchupController" id="matchup-outer">

<p style="color:red;">{{errMsg}}</p>

<div ng-if="matchupLoaded">

<div class="half-column">
  <h1 style="font-size:5em">{{matchup.name}}</h1>
  <h1 style="font-size:3em">{{matchup.gameType}}</h1>
  <h2>{{status}}</h2>
</div>

<div class="half-column">
  <h1>Prize: {{matchup.prizeAmount}} BTC</h1>
  <img src="{{qrUrl}}" class="qr-code"></img>
  <p>Donate to: {{matchup.bitcoinAddress}}</p>
</div>

<div id="matchup-inner" ng-if="matchup.teams">
<h1>{{createFormError}}</h1>
  <div class="cell">
    <div class="left-team">
      <div ng-if="matchup.gameType !== 'FFA'"><h1>{{matchup.teams[0].name}}</h1></div>
        <div class="playerCard" ng-repeat="player in matchup.teams[0].players">
        <div style="height:{{player.portrait.h}}px;width:{{player.portrait.w}}px;overflow:hidden;"><img src="{{player.portrait.url}}" style="background-image:url({{player.portrait.url}});background-position: {{player.portrait.y}}px {{player.portrait.x}}px;"></img></div>
        <div style="margin-top:-100px;">
          <h1>{{player.name}}</h1>
          <h3>{{player.career.primaryRace}}</h3>
        </div>
        <div>
          Clan: {{player.clan}}<br> 
          Rank: {{player.career.league}}<br> 
          Address: {{player.bitcoinAddress}}
        </div>
        <div class="player-card-race-logo"><img src="/images/{{player.career.primaryRace}}.png" class="race-image"></img></div>
        </div>
        </div>
      <div><!-- ng-if-->
    </div><!-- left-team -->
  </div>

  <div class="VS" ng-if="matchup.teams[0] && matchup.teams[1]">
    <h1>VS</h1>
  </div>

  <div class="cell">
    <div class="right-team">
      <div ng-if="matchup.gameType !== 'FFA'"><h1>{{matchup.teams[1].name}}</h1></div>
      <div class="playerCard" ng-repeat="player in matchup.teams[1].players">
        <div style="height:{{player.portrait.h}}px;width:{{player.portrait.w}}px;overflow:hidden;"><img src="{{player.portrait.url}}" style="background-image:url({{player.portrait.url}});background-position: {{player.portrait.y}}px {{player.portrait.x}}px;"></img></div>
        <div style="margin-top:-100px;">
          <h2>{{player.name}}</h2>
          <h3>{{player.career.primaryRace}}</h3>
        </div>
        <div>
          Clan: {{player.clan}}<br> 
          Rank: {{player.career.league}}<br> 
          Address: {{player.bitcoinAddress}}
        </div>
        <div class="player-card-race-logo">
          <img src="/images/{{player.career.primaryRace}}.png" class="race-image"></img>
        </div>
        </div>
        </div>
      <div>
    </div><!-- right-team -->
  </div>

</div><!-- matchup-inner -->

<div ng-if="matchup.results">
  <h1>Results</h1>

  <div class="results pull-left" style="width:30%;margin:20px;">
    <table style="width:100%">
      <tr>
      <th>Map</th>
      <th>Winner</th>
      </tr>
      <tr ng-repeat="match in matchup.results">
        <td>{{match.map}}</td>
        <td>Team {{match.winner}}</td>
      </tr>
    </table>
  </div>

  <div class="results pull-right" style="width:30%;margin:20px;">
    <table style="width:100%">
      <tr>
      <th>Team</th>
      <th>Score</th>
      </tr>
      <tr ng-repeat="team in matchup.teams">
        <td>{{team.name}}</td>
        <td>{{team.wins}}</td>
      </tr>
    </table>
  </div>
</div>

<div ng-if="matchupnotstarted">
  <div ng-if="matchupPrivateToken">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinModal">
      Add a Player
    </button>
  </div>
</div>

</div><!-- matchup-outer -->

  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createModal">
    New Matchup
  </button>

<!-- Modals -->
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createModalLabel">Create a Matchup</h4>
      </div>
      <div class="modal-body">
        {{createFormError}}
        <form ng-if="nomatchup()">
          <label for="nameInput">Match Title</label>
          <input id="nameInput" type="text" class="form-control" ng-model="matchupParams.name" />
          <label for="regionInput">Region</label>
          <select id="regionInput" class="form-control" ng-model="matchupParams.region">
            <option value="us">US</option>
            <option value="eu">EU</option>
          </select>
          <label for="gameTypeInput">Game Type</label>
          <select id="gameTypeInput" class="form-control" ng-model="matchupParams.gameType">
            <option value="1V1">1V1</option>
            <option value="2V2">2V2</option>
            <option value="3V3">3V3</option>
            <option value="4V4">4V4</option>
            <option value="FFA">FFA</option>
          </select>
          <label for="winConditionInput">Win Condition</label>
          <select id="winConditionInput" class="form-control" ng-model="matchupParams.winCondition">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
          </select>
          <p>Start Time</p>
          <h2>TODO - Date/Time picker widget</h2>
          <button type="submit">
              Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="joinModalLabel">Add Player</h4>
      </div>
      <div class="modal-body">
      {{joinFormError}}
        <form ng-submit="joinMatchup(playerParams)">
          <label for="playerUrl">Battle.net Profile URL</label>
          <input type="text" id="playerUrl" class="form-control" ng-model="playerParams.playerURL" />
          <div ng-if="matchup.gameType != 'FFA'">
          <label for="teamInput">Team</label>
          <input id="teamInput" type="text" class="form-control" ng-model="playerParams.team" /><br><br>
          </div>
          <label for="btcAddressInput">Bitcoin Address</label>
          <input id="btcAddressInput" type="text" class="form-control" ng-model="playerParams.bitcoinAddress" /><br><br>
          <button type="submit">
              Join
          </button>
        </form><!-- Matchup form -->
      </div>
    </div>
  </div>
</div>

</div>